body {
    background-color: #f5f5f5;
}

html, body {
    height: 100%;
}

input[type=search] {
    font-size: 1em;
}

a {
    color: #9aa0ab;
}

button {
    background-color: white;
}

i {
    color: white;
}

h1 {
    letter-spacing: 5px;
    margin: 5px 0 5px 0;
    font-size: 30px;
}

h4 {
    letter-spacing: 2px;
    color: #9aa0ab;
}

h1>a:hover {
    text-decoration: none;
}

label {
    margin-top: 20px;
    color: #314a5b;
}

select {
    border: none;
    position: relative;
    outline: none;
}

/* indent */
.clear {
    clear: both;
    height: 20px;
}

/* header style */
.navbar-inverse {
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0px;
}

.region_s {
    width: 45%;
}

.header>.col-lg-2>select {
    margin-top: 10px;
}

#region {
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    margin-left: 3px;
    border: none;
    background-color: white;
}

.form_search_m {
    width: 50%;
}

.sel {
    border: 1px solid #ccc;
    padding: 6px 0 3px 10px;
    border-radius: 7px;
    background-color: White;
    color: #9aa0ab;
    margin-top: 1px;

}

.sel>i {
    color: #314a5b;
    font-size: 120%;
}

.header {
    margin-top: 5px;
}

.navbar-inverse h1 a {
    color: #314a5b;
}

.navbar-inverse p {
    color: #9aa0ab;
}

.form_search {
    width: 100%;
    margin-bottom: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: #fa5c65;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-pills>li.active>a:hover {
    background-color: #314a5b;
    transition: all 0.5s ease-out;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: #314a5b;
    color: white;
    transition: all 0.5s ease-out;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus {
    background-color: #fa5c65;
    border-color: #fa5c65;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #314a5b;
    border-color: #314a5b;
}

.input-lg {
    height: 40px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 14px;
    height: 40px !important;
}

.navbar-toggle {
    padding: 11px 10px;
    margin-top: 2px;
}

.glyphicon-search {
    color: #314a5b;
    font-size: 120%;
}

.btn {
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.panel-body {
    padding: 0;
}

.list_gr_it {
    font-size: 95%;
}

/* wrapper style */
.panel-info>.panel-heading {
    background-image: none;
    padding: 0;
}

.wrapper {
    min-height: 100%;
}

.panel {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.list-group {
    margin-bottom: 0px;
    box-shadow: none;
}

.list-group-item {
    margin-bottom: 0px;
    border: 0px;
}

.wrapper>.container-fluid>.col-lg-10>.container-fluid>.list-group>li>.list-group-item {
    margin-bottom: 0px;
    border: 0px;
    height: 145px;
}

.panel-info {
    border-color: rgba(0, 0, 0, 0.15);
}

.panel-info>.panel-heading {
    color: #fff;
    text-align: center;
    background-color: #314a5b;
    border-color: #314a5b;
}

.come>.tab-content>.tab-pane>form>span>a {
    margin-left: 70%;
}

.list-group-item>a:focus, .list-group-item>a:hover {
    color: #314a5b;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.badge {
    background-color: #314a5b;
    font-size: 10px;
}

.list-group>li>a>span {
    float: right;
    background-color: #fa5c65;
    color: white;
    border-radius: 20px;
    padding: 4px;
    font-size: 80%;
    margin: 15px -10px 0 0;
}

.list-group>li>a>.img_block>img {
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    height: 95px;
    transition: all 0.5s ease-out;
}

.list-group>li>a>.img_block {
    width: 120px;
    height: 95px;
    overflow: hidden;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.list-group>li>a>.img_block>img:hover {
    transform: scale(2.2);
}

.col-lg-9>.container-fluid>.list-group>li>a:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #a7a5a554;
    transition: all 0.5s ease-out;
}

.col-lg-10>.container-fluid>.list-group>li>a {
    border: 1px solid #a7a5a554;
    margin-bottom: 5px;
}

.col-lg-10>.container-fluid>.list-group>li>h3 {
    text-align: center;
    margin: 0 0 10px 0;
}

.col-lg-10>.container-fluid>.list-group>li>h3>span {
    background-color: #314a5b;
    margin-left: 20px;
}

.col-lg-9>.container-fluid>.list-group>.list-group-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.wrapper>.container-fluid>.col-lg-9>.container-fluid>.list-group>li>a {
    height: 150px;
    overflow: hidden;
}

.tab-content>.tab-pane>form {
    margin-top: 20px;
}

.wrapper>.container-fluid>.come {
    width: 600px;
    margin-top: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fa5c65;
    background-color: #f5f5f5;
}

.tab-content>.tab-pane>form>.btn {
    background-color: #fa5c65;
    margin-left: 200px;
    margin-top: 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 188px;
    height: 50px;
}

.tab-content>.tab-pane>form>.btn:hover {
    background-color: #314a5b;
    color: white;
    transition: all 0.5s ease-out;
}

.tab-content>.tab-pane>form>.btn>i {
    margin-right: 10px;
}

.input-group {
    height: 40px;
}

.tab-pane>form>.input-group>input {
    height: 40px;
    border-left-color: white;
}

.come>ul>li>a:hover {
    color: #314a5b;
}

.tab-pane>form>.input-group>span>i {
    color: #314a5b;
    font-size: 120%;
}

.tab-pane>form>.input-group>span {
    background-color: white;
    border-right-color: white;
}

.descript_text {
    color: #314a5b;
    font-size: 90%;
}

.list-group-item-text {
    color: black;
}

.thumbnail {
    width: 135px;
    height: 120px;
}

.thumbnail>img {
    width: 100%;
    height: 100%;
}

.addPhotoParag {
    margin-top: 40px;
    margin-left: 30px;
}

.addPhotoParag>i {
    color: #314a5b;
    font-size: 150%;
    margin: 4px 0 0 21px;
}

.form_add {
    height: 40px;
    width: 100%;
    border-top-color: #ccc !important;
    border-right-color: #ccc !important;
    border-bottom-color: #ccc !important;
    border-left-color: white !important;
    background-color: white !important;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group-addon>i {
    color: #314a5b;
}

.group_chekbox {
    width: 125px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
}

.wrapper>.addAd>.col-lg-6>.container>form>.btn {
    background-color: #fa5c65;
    margin-left: 28%;
    margin-top: 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 188px;
    height: 50px;
}

.wrapper>.addAd>.col-lg-6>.container>form>.btn>i {
    margin-right: 10px;
}

.form-check-label {
    margin-top: 10px;
    margin-left: 5px;
}

.group_chekbox_addon {
    border: none;
}

#categoryProduct {
    cursor: pointer;
}

#locationProduct {
    cursor: pointer;
}

.input-group-addon {
    background-color: white;
}

.input-group>textarea {
    height: 150px;
    resize: none;
    border-left-color: white;
}

.wrapper>.container-fluid>.come>.tab-content>.fade>form>.row>.col-lg-6>.input-group>input {
    height: 40px;
    background-color: white;
    border-left-color: white;
}

.wrapper>.container-fluid>.come>.tab-content>.fade>form>.row>.col-lg-6>.input-group {
    margin-top: 3px;
}

.descript_price {
    margin: 29px -9px 0 0 !important;
    background-color: #314a5b !important;
}

.descript_buy {
    margin: 29px 5px 0 0 !important;
}

/* footer style */
footer {
    height: 50px;
    background-color: #314a5b;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}

footer p a {
    color: white;
    font-size: 100%;
    padding: 10px;
}

footer p {
    margin-top: 15px;
}

footer p a:hover {
    color: #fa5c65;
    transition: all 0.5s ease-out;
    text-decoration: none;
}

/* mobile style */
@media (max-width: 768px) {
    .nav-pills li {
        float: none;
    }

    .nav-pills {
        text-align: center; 
    }

    .col-lg-10>.container-fluid>.list-group {
        margin: 0px;
    }

    .nav_menu {
        width: 100%;
    }

    .region_s {
        width: 40%;
        margin-left: 5px;
    }

    .form_search_m {
        width: 40%;
        margin-right: 5px;
    }

    .list-group>li>a>span {
        margin-top: -30px;
    }

    .list-group>li>a>.img_block {
        width: 85px;
        height: 85px;
    }

    .list-group-item-text {
        font-size: 80%;
    }

    h1 {
        margin: 10px 0 5px 0;
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }
    
    footer {
        height: 60px;
    }

    footer p a {
        font-size: 90%;
    }
}

@media (max-width: 630px) {
    .wrapper>.container-fluid>.come {
        width: 290px;
    }

    .tab-content>.tab-pane>form>.btn {
        margin-left: 43px;
    }

    .form-control {
        font-size: 12px;
    }

    input[type="search"] {
        font-size: 85%;
    }

    .come>.tab-content>.tab-pane>form>span>a {
        margin-left: 35%;
    }

    .form_search_m {
        width: 40%;
    }

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 1199px)
and    (min-width: 992px) {
    .form_search_m {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .sel {
        width: 160px;
    }
}

